.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 2.4rem;
}

.search-field {
  width: 100%;
  height: 40px;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 2px solid black;
  outline: none;
  position: relative;

  @media (min-width: 678px) {
    width: 60%;
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.loader {
  visibility: hidden;
  border: 7px solid #f3f3f3;
  border-top: 7px solid #454545;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
  margin: 7px auto ;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.search-button {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 3px solid black;
  background-color: #454545;
  color: #fff;

  &:hover {
    background-color: #707070;
    cursor: pointer;
  }
}

.visible{
  visibility: visible;
}

.total-results {
  text-align:  center;
  font-size: 2rem;
  margin-top: 40px;
}
