.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  display: none;
  outline: none;
  color: #454545;

  @media (min-width: 678px) {
    display: block;
  }

  &:hover {
    color: #000;
    transform:  scale(1.1);
  }
}

.swiper {
  position: relative;
}

.swiper-button-prev {
  left: -50px;
}

.swiper-button-next {
  right: -50px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.swiper-slide__link {
  color: #454544;
  &:hover {
    color: #909090;
  }
}

.swiper-slide__title {
  margin: 15px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  text-align: center;
  font-size: 2rem;

    @media (min-width: 678px) {
    display: block;
    font-size: 2.5rem;
  }
}

.swiper-slide__tooltip-wrapper {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
  width: 200px;
}

.swiper-slide__title:hover .swiper-slide__tooltip{
  display: block;
  white-space: normal;
  background: white;
  text-align: center;
  color: #454545;
  border: 1px solid #000;
  opacity: 1;
}

.swiper-slide__tooltip {
  position:  relative;
  z-index:  1000;
  padding: 10px;
  opacity: 0;
  transition: opacity 1s;
}

.swiper-slide__year,
.swiper-slide__rating {
  font-size: 2rem;
  margin-top: 10px;
}


.swiper-slide__rating {
  font-size: 1.8rem;
}

.swiper-slide__rating {
  display: flex;
  align-items: flex-end;
}

.swiper-slide__star {
  width: 25px;
  height: 25px;
}

.swiper-slide__img {
  height: 447px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
