.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;

}

.category-card {
  width: 300px;
  margin: 20px;
}

.category-card, .word-card {
  display: flex;
  flex-direction:  column;
  align-items: center;
  background: $blue;
  text-decoration: none;
  color: $yellow;
  box-shadow: 7px 7px 21px grey;
  border-radius:  5px;
  position: relative;
  &:hover{
    box-shadow: 7px 7px 21px $yellow;
  };
}

.category-card__img {
  background: url(../assets/img/bird.jpg) center;
  background-size: cover;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 10px solid #fff;
  margin: 30px auto;
}

.category-card__name {
  font-size: 4rem;
  margin: 30px auto;
  border-bottom: 2px solid $yellow;
}

.word-card__img {
  background: url(../assets/img/bird.jpg) center;
  background-size: contain;
  width: 300px;
  height: 200px;
  margin: 30px auto;
}

.word-card__name {
  font-size: 4rem;
  margin: 30px auto;
}
.word-card__rotate-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  &:hover{
    color: $hover;
  }
}

.card-wrapper {
   perspective: 1000px;
   width: 300px;
   margin: 20px;
}

.card {
  transform-style: preserve-3d;
  transition: transform 0.8s;
  position: relative;
}

.word-card-back, .word-card-front {
  backface-visibility: hidden;
  position: absolute;
}

.word-card-back {
  transform: rotateY(180deg);
}

.card_rotated {
  transform: rotateY(180deg);
}





